$text-font: "Catamaran", sans-serif;
$cursive-font: "Grand Hotel", cursive;

$accent-color-500: #678e3e;
$accent-color-300: #beed8c;
$filter-color: #beed8ca7;
$text-color: #2b2d42;
$background-color: #f1f5f8;
$light-color: #f9f9f9;

$font-size-xxl: 4rem;
$font-size-xl: 3rem;
$font-size-l: 2.5rem;
$font-size-m: 2rem;
$font-size-s: 1.5rem;
$font-size-xs: 1rem;
$font-size-xxs: 0.5rem;
